@font-face {
  font-family: 'fontello-hue';
  src: url('fontello.eot');
  src: url('fontello.eot#iefix') format('embedded-opentype'),
       url('fontello.woff2') format('woff2'),
       url('fontello.woff') format('woff'),
       url('fontello.ttf') format('truetype'),
       url('fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.hue-icon-coffee-cup:before { content: '\e800'; font-family: 'fontello-hue';}
.hue-icon-dinner:before { content: '\e801'; font-family: 'fontello-hue';} 